git+https://github.com/googlefonts/fontra.git
git+https://github.com/googlefonts/fontra-rcjk.git
git+https://github.com/googlefonts/fontra-glyphs.git
aiohttp
pyinstaller
PyQt6
PyQt6-Qt6
PyQt6-sip
delocate
