git+https://github.com/googlefonts/fontra.git
git+https://github.com/googlefonts/fontra-compile.git
git+https://github.com/googlefonts/fontra-rcjk.git
git+https://github.com/googlefonts/fontra-glyphs.git
aiohttp==3.11.10
pyinstaller==6.11.1
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6-sip==13.9.1
# Use patched fork to work around https://github.com/matthew-brett/delocate/issues/228
git+https://github.com/justvanrossum/delocate.git
# delocate==0.12.0
