git+https://github.com/googlefonts/fontra.git
git+https://github.com/googlefonts/fontra-rcjk.git
aiohttp==3.8.4
pyinstaller==5.10.0
# PyQt6 6.5.0 does not support macOS 10.15 anymore, so for now
# we'll stick to these:
PyQt6==6.4.2
PyQt6-Qt6==6.4.3
