name: Build Application

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '21 1 * * 1-5'
  workflow_dispatch:  # allow manual trigger
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macOS-latest]
        python-version: ["3.10"]

    steps:

    - name: macOS Notarize -- Install Certificates
      if: runner.os == 'macOS'
      run: |
        echo ${{ secrets.CERTIFICATE_P12 }} | base64 --decode > certificate.p12
        security import certificate.p12 -P ${{ secrets.CERTIFICATE_PASSWORD }}
        security create-keychain -p fgKeychain fg.keychain
        security default-keychain -s fg.keychain
        security set-keychain-settings -l -u -t 8000
        security unlock-keychain -p fgKeychain fg.keychain
        security import certificate.p12 -k fg.keychain -P ${{ secrets.CERTIFICATE_PASSWORD }} -T /usr/bin/codesign
        security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k fgKeychain fg.keychain
        rm -fr *.p12
        # security find-identity -v -p codesigning

    - name: Git checkout
      uses: actions/checkout@v3

    - name: Set up Python 3.10 for macOS
      if: runner.os == 'macOS'
      run: |
        curl https://www.python.org/ftp/python/3.10.9/python-3.10.9-macos11.pkg --output python-installer.pkg
        sudo installer -pkg python-installer.pkg -target /
        python3 --version
        python3 -c "import platform; print('macOS version:', platform.mac_ver()[0])"

    - name: Setup Virtual Environment
      if: runner.os == 'macOS'
      run: |
        python3 -m venv venv
        source venv/bin/activate
        python -c "import sys; print('\n'.join(sys.path))"

    - name: Set up Python ${{ matrix.python-version }}
      if: runner.os != 'macOS'
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build app
      run: |
        pyinstaller FontraPak.spec -y

    - name: Install pytest
      run: |
        pip install pytest

    - name: Run tests
      run: |
        pytest

    - name: macOS Notarize -- Codesign and Notarize
      if: runner.os == 'macOS'
      run: |
        macos/codesign_app.sh "${{ secrets.CODESIGN_NAME }}" "dist/Fontra Pak.app" macos/entitlements.plist
        python macos/build_dmg.py "dist/Fontra Pak.app" "dist/FontraPak.dmg"
        codesign --sign "${{ secrets.CODESIGN_NAME }}" "dist/FontraPak.dmg"
        xcrun altool --notarize-app --primary-bundle-id "xyz.fontra.fontra-pak" \
                     --username "${{ secrets.NOTARIZE_DEVELOPER }}" \
                     --password "${{ secrets.NOTARIZE_PASSWORD }}" \
                     --file dist/FontraPak.dmg \
                     --output-format xml \
                     | python macos/await_notarization.py "${{ secrets.NOTARIZE_DEVELOPER }}" "${{ secrets.NOTARIZE_PASSWORD }}"
        xcrun stapler staple "dist/FontraPak.dmg"

    - name: Storing Windows Artifacts
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v3
      with:
        name: Fontra Pak Windows
        path: ./dist/*.exe

    - name: Storing macOS Artifacts
      if: runner.os == 'macOS'
      uses: actions/upload-artifact@v3
      with:
        name: Fontra Pak macOS
        path: ./dist/*.dmg
